#root {
  text-align: center;
  width: 100%;
}
nav {
  display: flex;
  background-color: #242424;
  padding: 0vw 1vw;
  align-items: center;
  justify-content: space-between;
}
.message {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row-reverse;
  justify-content: flex-end
}
.message > p {
  background-color: #404040;
  padding: 10px;
  max-width: 29vw;
  min-width: 100px;
  border-radius: 25px;
}
.sent > p {
  background-color: #007be2;
}
.sent{
  flex-direction: row;
  justify-content: flex-end
}
.message > img{
  height:48px;
  border-radius: 50%;
}
.formSend{
  padding-top: 10px;
}
.formSend > input {
  border: 0px;
  font-size: larger;
  width: 34vw;
  border-radius: 10px;
  height: 42px;
}